body {
	background-color: pink;

}
.wrapper_slider {
	width: 80%;
    background-color: wheat;
    margin: auto;
}
.prev {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	z-index: 5;
	cursor: pointer;
	opacity: 0.5;
}
.prev:hover {
	opacity: 0.8;
}
.next:hover {
	opacity: 0.8;
}

.next {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	z-index: 5;
	cursor: pointer;
	opacity: 0.5;
}
.image_item {
	height: 86px;
    width: 100%;
    background-color: yellowgreen;
    margin-bottom: 10px;
}